Python | Multiply all numbers in the list

In [1]:
lst = [15, 6, 7, 10, 12, 20, 10, 28, 10]

In [2]:
if len(lst) == 0:
    mul = 0
elif len(lst) == 1:
    mul = lst[0]
else:
    mul = lst[0]
    for i in lst[1:]:
        mul *= i
mul

4233600000

In [3]:
import numpy as np

In [5]:
mul = np.prod([1,2,3])
mul

6